/* ChatLandingPage.css */
.landing-page-container {
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #e7f3fe !important; /* Pale blue background color */
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width:50vw;
}

.landing-page-container h4 {
    margin-bottom: 20px;
}

.landing-page-container .MuiTypography-subtitle1 {
    color: #666;
}
